@use 'variables' as *;

.about {
    padding-top: 50px;
    position: relative;

    &__greeting {
        font-family: $font-primary;
        font-size: 25px;
        color: $text-color;
        margin-bottom: 20px;
        overflow: hidden; // Для typewriter
        white-space: nowrap; // Для typewriter
        animation: type 2s steps(40, end) forwards;
    }

    &__name {
        font-family: $font-code;
        font-size: 38px;
        font-weight: 700;
        background: $pastel-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &__role {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        &-part1,
        &-part2 {
            font-family: $font-code;
            font-size: 130px;
            font-weight: 600;
            color: $text-color;
            line-height: 1;
            width: 100%;
        }

        &-part1 {
            text-align: start;
            margin-left: -20px;
        }

        &-part2 {
            text-align: end;
        }
    }

    &__projects-button {
        position: absolute;
        top: 120px;
        right: 15px;
        display: flex;
        gap: 5px;
        transform: translateY(-50%);
        border: none;
        background: none;
        cursor: pointer;

        &-text {
            background: $pastel-gradient;
            border-radius: 50px;
            width: 400px;
            padding: 15px 20px;
            font-family: $font-primary;
            font-style: italic;
            font-size: 18px;
            font-weight: 600;
            box-shadow: 0 4px 15px rgba(195, 143, 255, 0.3);
            transition: box-shadow 0.3s, transform 0.4s;
        }

        &-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            background: $pastel-gradient;
            border-radius: 50px;
            width: 54px;
            box-shadow: 0 4px 15px rgba(195, 143, 255, 0.3);
            transition: box-shadow 0.3s, transform 0.4s;
            animation: slide 1.5s infinite ease-in-out;
        }

        svg {
            width: 20px;
            color: black;
        }

        &:hover {
            .about__projects-button-text {
                transform: scaleX(0.98);
                box-shadow: 0 6px 20px rgba(195, 143, 255, 0.4);
            }

            .about__projects-button-circle {
                box-shadow: 0 6px 20px rgba(195, 143, 255, 0.4);
            }
        }

        &:active {
            .about__projects-button-text {
                transform: scaleX(1);
            }
        }
    }

    &__content {
        max-width: 990px;
        color: $text-color;
        font-size: 18px;
        line-height: 1.6;

        &-part1 {
            width: 450px;
            position: absolute;
            left: 15px;
            top: 230px;
            margin-bottom: 20px;
            
        }

        &_italic {
            font-weight: 600;
            background: $pastel-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

// Animation for arrow
@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

// Typewriter animation for text
@keyframes type {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}